.addForm {
    display: none;
    position: fixed;
    width: 900px;
    height: 510px;
    left: calc(50% - 450px);
    top: calc(50% - 255px);
    fill: white;
    border: 3px solid #f1f1f1;
    background-color: white;
    z-index: 9;
    border-radius: 10px;
}

.addForm form {
}

.addForm h1 {
    margin-left: 3%;
}

.addForm input[type=text] {
    width: 90%;
    padding: 15px;
    margin: 5px 3% 22px 3%;
    border: none;
    background: #f1f1f1;
    font-size: large;
}
.addForm label {
    margin-left: 3%;
}

.addForm button {
    margin: 2%;
    right:5px;
    bottom:20px;
    background-color: black;
    color: white;
    border-radius:10px;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    font-family: "Times New Roman", Times, serif;
    position:relative;
    float: right;
}

.addForm button:hover {
    background-color: #ddd;
    color: black;
}



