.adminForm {
    display: none;
    position: fixed;
    width: 900px;
    height: 330px;
    left: calc(50% - 450px);
    top: calc(40% - 165px);
    fill: white;
    border: 3px solid #f1f1f1;
    background-color: white;
    z-index: 9;
    border-radius: 10px;
}

.adminForm form {
}

.adminForm h1 {
    margin-left: 3%;
}

.adminForm input[type=text] {
    width: 90%;
    padding: 15px;
    margin: 5px 3% 22px 3%;
    border: none;
    background: #f1f1f1;
    font-size: large;
}

.adminForm input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 3% 22px 3%;
    border: none;
    background: #f1f1f1;
    font-size: large;
}

.adminForm label {
    margin-left: 3%;
}

.adminForm button {
    margin: 3%;
    font-size: x-large;
    font-weight: bold;

    background-color: black;
    color: white;
    border: thin solid white;
    border-radius: 6px;

    position:relative;
    float: right;
}

.adminForm button:hover {
    background-color: white;
    color: black;
    border: thin solid black;
    border-radius: 6px;
}