.App-header {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); 
    text-align:center;
    width:350px;
    height:70px;
    font-family: 'Roboto', sans-serif;
    margin-left:8px;
    margin-top:8px;
    text-shadow: 1px 1px 5px lightgray;
}

.App-header h1 {
    display:inline-block;
    margin-top:6%;
    min-width:350px;
    text-align:left;
    margin-left:4%;
}

.App-header h2 {
    position:fixed;
    font-size:12px;
    top:24px;
    text-align:left;
    width:350px;
    margin-top:40px;
    margin-left:1%;
    color:rgb(57, 57, 233);
}

.App-header2 {
    background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); 
    width:350px;
    position:relative;
    height:30px;
    margin-left:8px;
}

.App-header2 button {
    float:right;
    margin-top:0%;
    height:80%;
    width:20%;
    border:none;
    cursor:pointer;
    transition:0.2s;
    background:none;
    text-shadow: 1px 1px 3px lightgray;
}

.App-header2 button:hover {
    color:darkblue;
    width:22%;
    font-size:16px;
}

.App-header2 button:focus {
    outline:none;
}

.shadow {
    position: fixed;
    z-index: 8;
    width: 100%;
    height: 120%;
    background-color: black;
    opacity: 0.4;
    display: none;
    clear:both;
}

