.confirmClub {
    position:fixed;
    text-align:center;
    top:105px;
    left:685px;
    width:181px;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    border:thin solid rgb(236, 236, 236);
    box-shadow: 3px 3px 10px grey;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgb(253, 253, 253) 47%,rgb(249, 249, 249) 100%); 

    transition:0.5s;
    margin-left:-200px;
    opacity:0;
}

.confirmClub p {
    font-size:14px;
    margin-top:0px;
    padding:8px;
    padding-bottom:0;
    color:rgb(78, 78, 78);
}

.confirmClub button {
    position:relative;
    display: inline;
    margin-top:-5px;
    background-color:white;
    width:50%;
    height:35px;
    color: black;
    padding: 6px 36px;
    cursor:pointer;
    pointer-events:all;
    border:thin solid rgb(236, 236, 236);
    transition:0.5s;
}

.confirmClub button:hover {
    background: linear-gradient(rgb(253, 253, 253) 0%,rgb(243, 253, 255) 47%,rgb(237, 249, 253) 100%);
}

.confirmClub button:focus {
    outline:none;
}

.confirmClub button i {
    font-size:20px;
    color:rgb(90, 90, 90);
}

.confirmOrg {
    position:fixed;
    text-align:center;
    top:105px;
    left:560px;
    width:280px;
    z-index: -1;
    font-family: 'Roboto', sans-serif;
    border:thin solid rgb(236, 236, 236);
    box-shadow: 3px 3px 10px grey;
    pointer-events:all;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgb(253, 253, 253) 47%,rgb(249, 249, 249) 100%); 

    transition:0.5s;
    margin-left:-500px;
    opacity:0;
}

.confirmOrg p {
    font-size:14px;
    margin-top:0px;
    padding:8px;
    padding-bottom:0;
    color:rgb(78, 78, 78);
}

.confirmOrg button {
    position:relative;
    display: inline;
    margin-top:-5px;
    background-color:white;
    width:50%;
    height:35px;
    color: black;
    padding: 6px 36px;
    cursor:pointer;
    pointer-events:all;
    border:thin solid rgb(236, 236, 236);
    transition:0.5s;
}

.confirmOrg button:hover {
    background: linear-gradient(rgb(253, 253, 253) 0%,rgb(243, 253, 255) 47%,rgb(237, 249, 253) 100%);
}

.confirmOrg button:focus {
    outline:none;
}

.confirmOrg button i {
    font-size:20px;
    color:rgb(90, 90, 90);
    left:5%;
    top:24%;
}