.directory {
    position: fixed;
    float: left;
    z-index: 2;
    top:78px;
    overflow: hidden;
    min-width:400px;
    pointer-events:none;
    max-width:350px;
  }

  .directory button.btn1 {
    display: inline;
    background-color:white;
    color: black;
    text-align: center;
    padding: 6px 13.6%;
    text-decoration: none;
    font-size: 15px;
    font-family: "Roboto", serif;
    cursor:pointer;
    pointer-events:all;
    border:thin solid lightgray;
    transition:0.5s;
  }

  .directory button.btnGray {
    display: inline;
    background-color:white;
    color: lightgray;
    text-align: center;
    padding: 6px 13.3%;
    text-decoration: none;
    font-size: 17px;
    font-family: "Times New Roman", Times, serif;
    cursor:default;
    pointer-events:all;
    border:thin solid lightgray;
    transition:0.5s;
  }

  /* Style the "active" element to highlight the current page */
  .directory button.btn1.active {
    background-color:gray;
    color: white;
  }

  .directory button.btn1:focus {
    outline:none;
  }

  .directory button.btnGray:focus {
    outline:none;
  }

  .directory form {
    box-sizing: border-box;
  }

  /* Style the search field */
  .directory input[type=text] {
    position:relative;
    display:inline;
    padding: 2.5%;
    padding-right:9%;
    font-size: 15px;
    border: thin solid grey;
    width: 87.5%;
    background: white;
    pointer-events:all;
    transition:0.5s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;   
    box-sizing: border-box;     
  }

  .directory input[type=text]:focus {
    outline:none;
  }

  .directory i {
    position:relative;
    right:7%;
    top:4px;
    font-size:24px;
    color:gray;
    pointer-events:all;
    transition:0.4s;
    cursor:pointer;
  }

  .directory i:hover {
    color:darkblue;
  }

  .directory i .tooltip {
    opacity:0;
    width: 10px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: fixed;
    z-index: 1;
    transition:0.4s;
    font-size:2px;
    top:120px;
    font-family:'Roboto', sans-serif;
  }

  .directory i:hover .tooltip {
      opacity:1;
      width:120px;
      font-size:14px;
  }


  /* Style the submit button */
  .directory button.btn2 {
    position:relative;
    float: left;
    width: 10%;
    padding: 9px;
    background: linear-gradient( #eeeeee 0%,#cccccc 100%);
    color: gray;
    font-size: 17px;
    border: thin solid grey;
    border-left: none;
    cursor: pointer;
    margin:0;
    pointer-events:all;
    transition:0.5s;
  }
      
  .directory button.btn2:hover {
    background: linear-gradient(#63b6db 0%,#309dcf 100%);
    color:white;
  }

  .directory button.btn2::after {
    content: "";
    clear: both;
    display: table;
  }

  .directory ul {
    position:fixed;
    margin-top:0px;
    width:310px;
    max-height:80%;
    overflow:hidden;
    overflow-y: auto;
    pointer-events:all;
    background: linear-gradient(rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
    opacity:0.96;
    transition:0.5s;
    box-shadow: 3px 3px 5px gray;
  }

  /* Style the list items */
  .directory ul li {
    position: relative;
    padding: 2px 2px 2px 4px;
    width:344px;
    margin-left:-40px;
    background: white;
    font-size: 18px;
    list-style-type:none;
    border-bottom:thin solid lightgray;
    pointer-events:all;
    cursor: pointer;
  }

  .directory ul li:hover {
    background: linear-gradient(rgb(253, 253, 253) 0%,rgb(243, 253, 255) 47%,rgb(237, 249, 253) 100%);
  }

  .directory ul li h2 {
    color:rgba(0, 74, 160, 0.8);
    margin-top:7px;
    margin-left:5px;
    margin-right:5px;
    font-size:16px;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
  }

  .directory ul li h3 {
    margin-top:-8px;
    margin-left:5px;
    margin-right:5px;
    font-size:12px;
    width:92%;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    color:gray;
  }

  .directory ::-webkit-scrollbar {
    width:6px;
    height:3px;
    border-left:0;
    background:rgba(0,0,0,0.1);
  }
  .directory ::-webkit-scrollbar-track {
    background:whitesmoke;
  }
  .directory ::-webkit-scrollbar-thumb {
    background:rgba(2, 106, 224, 0.8);
    border-radius:0;
  }