.Map {
    position: fixed;

    margin-left: auto;
    margin-right: auto;

    top:0%;
    pointer-events:all;
    
    z-index: -1;
}

.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 100%;
    user-select: none;
    transform: translate(-50%, -50%);
}

.marker:hover {
    width:16px;
    height:16px;
    border-color: darkred;
    z-index:1;
    transition:0.2s;
}

.locDetails {
    position:fixed;
    padding-left:8px;
    padding-bottom:14px;
    padding-right:8px;
    padding-top: 14px;
    text-align:left;
    top:105px;
    left:360px;
    width:300px;
    z-index: 3;
    overflow:hidden;
    text-overflow:ellipsis;
    box-shadow: 3px 3px 10px grey;
    white-space:pre-line;
    font-family: 'Roboto', sans-serif;
    transition:0.5s;

    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgb(251, 251, 251) 47%,rgb(246, 246, 246) 100%); 
}

.locDetails i {
    position:relative;
    display:inline;
    float:right;
    margin-right:12px;
    font-size:18px;
    color:rgb(190, 189, 189);
    transition:0.4s;
  }

  .locDetails i:hover {
    color:darkblue;
    cursor:pointer;
  }

  .locDetails i .tooltip {
    position: fixed;
    opacity:0;
    width: 10px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 2px;
    border-radius: 6px;
    z-index: 1;
    transition:0.4s;
    font-size:1px;
    top:90px;
    font-family:'Roboto', sans-serif;
  }

  .locDetails i:hover .tooltip {
      opacity:1;
      width:120px;
      font-size:14px;
  }

.locDetails h1 {
    font-size: 20px;
    display:inline;
    color:rgba(0, 74, 160, 0.8);
}

.locDetails h2 {
    position:relative;
    display:inline;
    font-size:14px;
    color:rgb(87, 87, 87);
    top:2px;
}

.locDetails h3 {
    display:inline;
    font-size:14px;
    margin-right:6px;
}

.locDetails p {
    position:relative;
    display:inline-flex;
    font-size:14px;
    color:rgb(56, 56, 56);
    width:90%;
    margin-bottom:0px;
    margin-top:5px;
}

.locDetails a {
    font-size:14px;
    color:rgb(23, 127, 161);
    margin-left:8px;
    font-weight:300;
}

.locDetails {
    animation: fadeEffect 0.4s; 
  }
  
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }



