.orgForm {
    display: none;
    position: fixed;
    width: 1000px;
    height: 670px;
    left: calc(50% - 500px);
    top: calc(50% - 335px);
    fill: white;
    border: 3px solid #f1f1f1;
    background-color: white;
    z-index: 9;
    border-radius: 10px;
}

.orgForm form {
}

.orgForm h1 {
    margin-left: 3%;
}

.orgForm input[type=text] {
    width: 90%;
    padding: 15px;
    margin: 5px 3% 22px 3%;
    border: none;
    background: #f1f1f1;
    font-size: large;
}

.orgForm input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 3% 22px 3%;
    border: none;
    background: #f1f1f1;
    font-size: large;
}

.orgForm label {
    margin-left: 3%;
}

.orgForm button {
    margin: 2%;
    right:5px;
    bottom:20px;
    background: linear-gradient( #45484d 0%,#000000 100%);
    color: white;
    border-radius:10px;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    font-family: "Times New Roman", Times, serif;
    position:relative;
    float: right;
    transition:0.5s;
}

.orgForm button:hover {
    background: #ddd;
    color: black;
    cursor:pointer;
}




