.profileForm {
    display: none;
    position: fixed;
    width: 900px;
    height: 510px;
    left: calc(50% - 450px);
    top: calc(50% - 255px);
    fill: white;
    border: 3px solid #f1f1f1;
    background-color: white;
    z-index: 9;
    border-radius: 10px;
}